 <form [formGroup]="CreateRoomForm" (ngSubmit)="onSubmit()">
  <div class="card">
    <img src="images/logo.jpg" alt="Logo" class="logo"/>
  
    <div>
      <h2>Room Name</h2>
      <input id="roomName" formControlName="roomName" placeholder="Enter Room Name" 
      [ngClass]="CreateRoomForm.controls['roomName'].errors &&
         CreateRoomForm.controls['roomName'].touched? 'is-invalid': ''   " required/>
        @if (
          CreateRoomForm.controls["roomName"].errors &&
          CreateRoomForm.controls["roomName"].touched 
          ){
  
            @if (CreateRoomForm.controls["roomName"].errors["required"]) {
              <div class="invalid-feedback">Room Name is required</div>
            }
            @if (CreateRoomForm.controls["roomName"].errors["minlength"]) {
              <div class="invalid-feedback">Minimum 3 Characters required</div>
            }
          }
    </div>
    
    <div>
      <h2>Details</h2>
      <textarea id="details" formControlName="details" placeholder="Enter Your Details"
      [ngClass]="CreateRoomForm.controls['details'].errors &&
         CreateRoomForm.controls['details'].touched? 'is-invalid' : '' "></textarea>
        @if (
          CreateRoomForm.controls["details"].errors &&
          CreateRoomForm.controls["details"].touched
          ){
  
            @if (CreateRoomForm.controls["details"].errors["required"]) {
              <p class="invalid-feedback">Description is required</p>
            }
            @if (CreateRoomForm.controls["details"].errors["maxlength"]) {
              <p class="invalid-feedback">Description should not exceed 500 Characters</p>
            }
            @if (CreateRoomForm.controls["details"].errors["minlength"]) {
              <p class="invalid-feedback">Description should be at least 3 Characters</p>
            }
          }
    </div>
    <div>
      <h2>Room Type</h2>
      <select id="roomType" formControlName="roomType" [ngClass]="CreateRoomForm.controls['roomType'].errors && 
      CreateRoomForm.controls['roomType'].touched? 'is-invalid' : ''" required>
        <option value="">Select Room Type</option>
        <option value="individual">Individual</option>
        <option value="apartment">Apartment</option>
      </select>
      @if (
          CreateRoomForm.controls["roomType"].errors &&
          CreateRoomForm.controls["roomType"].touched
          ){
  
            @if (CreateRoomForm.controls["roomType"].errors["required"]) {
              <p class="invalid-feedback">Room Type is required</p>
            }
          }
    </div>
    <div>
      <h2>Floor</h2>
      <input id="floor" class="number-input" type="number" placeholder="0" formControlName="floor"
      [ngClass]="CreateRoomForm.controls['floor'].errors && CreateRoomForm.controls['floor'].touched ? 'is-invalid' : ''" />
      @if(
        CreateRoomForm.controls['floor'].errors &&
        CreateRoomForm.controls['floor'].touched
      ){
        @if(CreateRoomForm.controls['floor'].errors['required']){
          <p class="invalid-feedback">floor is required</p>
        }
        @if(CreateRoomForm.controls['floor'].errors['min']){
          <p class="invalid-feedback">floor should be at least 1</p>
        }
        @if(CreateRoomForm.controls['floor'].errors['max']){
          <p class="invalid-feedback">floor should not exceed 10</p>
        }
        
      }
    </div>

    <div>
      <h2>Availability</h2>
      <input id="availability" type="number" class="number-input" placeholder="0" formControlName="availability"
      [ngClass]="CreateRoomForm.controls['availability'].errors &&
      CreateRoomForm.controls['availability'].touched ? 'is-invalid' : ''" />
      <!-- <ngx-slider [(value)]="value" [options]="options"  class="slider"></ngx-slider> -->

      @if(
        CreateRoomForm.controls['availability'].errors &&
        CreateRoomForm.controls['availability'].touched
      ){
        @if(CreateRoomForm.controls['availability'].errors['required']){
          <p class="invalid-feedback">availability is required</p>
        }
        @if(CreateRoomForm.controls['availability'].errors['min']){
          <p class="invalid-feedback">Availability should be at least 1</p>
        }
        @if(CreateRoomForm.controls['availability'].errors['max']){
          <p class="invalid-feedback">Availability should not exceed 5</p>
        }
        
      }
    </div>
    <div>
      <h2>Gender</h2>
      <div>
        <label class="text">
          <input type="radio" value="male" class="gender" name="gender"
           formControlName="gender" /> Male</label>
        <label class="text">
          <input type="radio" value="female" class="gender" name="gender"
           formControlName="gender" /> Female</label>
          
      </div>
    </div>
    
    <div>
      <h2>WhatsApp Link</h2>
      <input id="whatsappLink" formControlName="whatsappLink" placeholder="whatsapp Link"
      [ngClass]="CreateRoomForm.controls['whatsappLink'].errors && CreateRoomForm.controls['whatsappLink'].touched ?'is-invalid':''  ">
    @if(
      CreateRoomForm.controls['whatsappLink'].errors && CreateRoomForm.controls['whatsappLink'].touched
    ){
      @if(CreateRoomForm.controls['whatsappLink'].errors['required']){
        <p class="invalid-feedback">WhatsApp Link is required</p>
      }
      @if(CreateRoomForm.controls['whatsappLink'].errors['pattern']){
        <p class="invalid-feedback">Invalid URL format</p>
      }
      
    }
    </div>
    
    <div>
      <h2>Telegram Link</h2>
      <input id="telegramLink" formControlName="telegramLink" placeholder="telegram Link"
      [ngClass]="CreateRoomForm.controls['telegramLink'].errors && CreateRoomForm.controls['telegramLink'].touched? 'is-invalid':''"/>
      @if(
        CreateRoomForm.controls['telegramLink'].errors && CreateRoomForm.controls['telegramLink'].touched
      ){
        @if(CreateRoomForm.controls['telegramLink'].errors['required']){
          <p class="invalid-feedback">Telegram Link is required</p>
        }
        @if(CreateRoomForm.controls['telegramLink'].errors['pattern']){
          <p class="invalid-feedback">Invalid URL format</p>
        }
      }
    </div>
    
    <div>
      <h2>Amenities</h2>
      <div class="checkbox">
        <label>
          <input type="checkbox" formControlName="wifi">
          <img src="images/wifi.png"> Wifi


        </label>
        <label>
          <input type="checkbox" formControlName="kitchen">
          <img src="images/freezer.png">Kitchen
      
        </label>

        <label>
          <input type="checkbox" formControlName="airCondition">
           <img src="images/air-conditioner.png">AC
        
        </label>
        <label>
          <input type="checkbox" formControlName="bathroom">
           <img src="images/bathroom.png">Bathroom
        
        </label>
        <label>
          <input type="checkbox" formControlName="parking">
           <img src="images/parked-car.png">Parking
           
        </label>
        <!-- <label>
          <input type="checkbox" formControlName="heater">
           <img src="images/water-heater.png">Heater
           
        </label>
        <label>
          <input type="checkbox" formControlName="dryer">
           <img src="images/hair-dryer.png">Dryer
           
        </label>
        <label>
          <input type="checkbox" formControlName="washer">
           <img src="images/washer.png">Washer
           
        </label>
        <label>
          <input type="checkbox" formControlName="pool">
           <img src="images/pool.png">Pool
           
        </label>
        <label>
          <input type="checkbox" formControlName="gym">
           <img src="images/weightlifting.png">Gym
           
        </label> -->
      </div>
    </div>
    <div>
    
    <div>
      <h2>Address</h2>
      
      <textarea name="" id="" cols="30" rows="3" formControlName="address" placeholder="Enter Your Address"
      [ngClass]="CreateRoomForm.controls['address'].errors && CreateRoomForm.controls['address'].touched? 'is-invalid':''"></textarea>
      
      @if(
        CreateRoomForm.controls['address'].errors && CreateRoomForm.controls['address'].touched
      ){
        @if(CreateRoomForm.controls['address'].errors['required']){
          <p class="invalid-feedback">Address is required</p>
        }
      }
    </div>
    
    <div>
      <h2>Location</h2>
      <p>Choose Your Location Here <i class="fa fa-hand-o-down" style="font-size:24px"></i>
      </p>

      <div #mapContainer id="map"></div>
      

    </div>
    <!-- <div #mapContainer style="height: 500px;"></div> -->
    
    <div>
      <h2>Longitude</h2>
      <input id="location" formControlName="longitude" placeholder="choose your  Location"
      [ngClass]="CreateRoomForm.controls['longitude'].errors && CreateRoomForm.controls['longitude'].touched? 'is-invalid':''"/>
      @if(
        CreateRoomForm.controls['longitude'].errors && CreateRoomForm.controls['longitude'].touched
      ){
        @if(CreateRoomForm.controls['longitude'].errors['required']){
          <p class="invalid-feedback">Longitude is required</p>
        }
      } 
    </div>
    <div>
      <h2>Latitude</h2>
      <input id="location" formControlName="latitude" placeholder="choose your  Location"
      [ngClass]="CreateRoomForm.controls['latitude'].errors && CreateRoomForm.controls['latitude'].touched? 'is-invalid':''"/>
      @if(
        CreateRoomForm.controls['latitude'].errors && CreateRoomForm.controls['latitude'].touched
      ){
        @if(CreateRoomForm.controls['latitude'].errors['required']){
          <p class="invalid-feedback">Latitude is required</p>
        }
      } 
    </div>
     <div>
      <h2>Room Images</h2>
      <input id="images" type="file" multiple  formControlName="images"
      [ngClass]="CreateRoomForm.controls['images'].errors && CreateRoomForm.controls['images'].touched? 'is-invalid':''"/>
      
      @if(
        CreateRoomForm.controls['images'].errors && CreateRoomForm.controls['images'].touched
      ){
        @if(CreateRoomForm.controls['images'].errors['required']){
          <p class="invalid-feedback">Room Images is required</p>
        }
      }
    </div>
    
    
    <div>
      <h2>Rent</h2>
      <input id="rent" type="number" class="number-input" formControlName="rent" placeholder="Enter Your Room Rent"
      [ngClass]="CreateRoomForm.controls['rent'].errors && CreateRoomForm.controls['rent'].touched? 'is-invalid':''"/>
      
      @if(
        CreateRoomForm.controls['rent'].errors && CreateRoomForm.controls['rent'].touched
      ){
        @if(CreateRoomForm.controls['rent'].errors['required']){
          <p class="invalid-feedback">Rent is required</p>
        }
        @if(CreateRoomForm.controls['rent'].errors['min']){
          <p class="invalid-feedback">Rent can not be negative</p>
        }
        
      }
    </div>
    
    <div>
      <h2>Preferences</h2>
      <div class="checkbox">
        <label>
          <input type="checkbox" formControlName="preference1" class="veg">Veg
        </label>
        <label>
          <input type="checkbox" formControlName="preference2">Nonveg
        </label>
        <label>
          <input type="checkbox" formControlName="preference3">Smoking
        </label>
        <label>
          <input type="checkbox" formControlName="preference4">Drinking
        </label>
      </div>
    </div>
    <button type="submit">Create Room</button>
  </div>
  </div>
  </form>




