
<form [formGroup]="createRoomForm" (ngSubmit)="onSubmit()">
  <div class="card">
    <img src="images/logo.jpg" alt="Logo" class="logo" />

    <div>
      <h2>Room Name</h2>
      <input id="roomName" formControlName="roomName" placeholder="Enter Room Name" [ngClass]="createRoomForm.controls['roomName'].errors &&
        createRoomForm.controls['roomName'].touched? 'is-invalid' : ''   " />

      @if(
      createRoomForm.controls['roomName'].errors &&
      createRoomForm.controls['roomName'].touched ){


      @if(createRoomForm.controls['roomName'].errors["required"]){
      <div class="invalid-feedback">roomName is required</div>
      }

      }
    </div>

    <div>
      <h2>Description</h2>
      <input id="description" formControlName="description" placeholder="Description" [ngClass]="createRoomForm.controls['description'].errors &&
        createRoomForm.controls['description'].touched? 'is-invalid' : ''   " />

      @if(
      createRoomForm.controls['description'].errors &&
      createRoomForm.controls['description'].touched ){


      @if(createRoomForm.controls['description'].errors["required"]){
      <div class="invalid-feedback"> description require</div>
      }

      }
    </div>

    <div>
      <h2>Capacity</h2>
      <input id="capacity" type="number" formControlName="capacity" [ngClass]="createRoomForm.controls['capacity'].errors &&
        createRoomForm.controls['capacity'].touched? 'is-invalid' : ''   " />

      @if(
      createRoomForm.controls['capacity'].errors &&
      createRoomForm.controls['capacity'].touched ){


      @if(createRoomForm.controls['capacity'].errors["required"]){
      <div class="invalid-feedback">capacity is required</div>
      }

      }
    </div>

    <div>
      <h2>WhatsApp Link</h2>

      <div class="WhatsApp">

        <i class="fa-brands fa-square-whatsapp"></i>
        </div>

        <input id="whatsappLink" formControlName="whatsappLink" placeholder="WhatsApp Link" [ngClass]="createRoomForm.controls['whatsappLink'].errors &&
      createRoomForm.controls['whatsappLink'].touched? 'is-invalid' : ''   " />
   
  
        @if(
        createRoomForm.controls['whatsappLink'].errors &&
        createRoomForm.controls['whatsappLink'].touched ){


        @if(createRoomForm.controls['whatsappLink'].errors["required"]){
        <div class="invalid-feedback">link must be required</div>
        }

        }
    
      </div>
   
      


      

<!-- 
      <div>
        <h2>WhatsApp Link</h2>
        <div class="WhatsApp">
          <i class="fa-brands fa-square-whatsapp"></i>
       
          <input id="whatsappLink" formControlName="whatsappLink" placeholder="WhatsApp Link" >
        </div>
      
       -->


       <!-- <div>
        <h2>WhatsApp Link</h2>
        <div class="WhatsApp">
          <i class="fa-brands fa-square-whatsapp"></i> -->
          <!-- <i class="fa-brands fa-whatsapp"></i>
 
          <input id="whatsappLink" formControlName="whatsappLink" placeholder="WhatsApp Link" />
      
        </div> -->

    <div>
      <h2>Telegram Link</h2>
      <div class="telegram">
        <i class="fa-brands fa-telegram"> </i>
    
      <input class="color" type="" id="telegramLink" formControlName="telegramLink" placeholder="Telegram Link"
        [ngClass]="createRoomForm.controls['whatsappLink'].errors &&
      createRoomForm.controls['whatsappLink'].touched? 'is-invalid' : ''   " />

</div>

      @if(
      createRoomForm.controls['whatsappLink'].errors &&
      createRoomForm.controls['whatsappLink'].touched ){


      @if(createRoomForm.controls['whatsappLink'].errors["required"]){
      <div class="invalid-feedback">link must be required</div>
      }

      }

    </div>

    <div>
      <h2>Amenities</h2>
      <div class="checkbox">
        <label>
          <input type="checkbox" formControlName="amenity1"><img src="images/wifi.jpg"> Wifi
        </label>
        <!-- {{createRoomForm.value|json}} -->
        <!-- @if (submitted){
          <div>
            <p>submitted:{{createRoomForm|json}}</p>
            </div>
        } -->

        <!-- {{createRoomForm.value|json}} -->



        <label>
          <input type="checkbox" formControlName="amenity2"><img src="images/freezer.jpg">Kitchen
        </label>
        <label>
          <input type="checkbox" formControlName="amenity3"> <img src="images/air-conditioner.jpg">AC
        </label>
        <label>
          <input type="checkbox" formControlName="amenity3"> <img src="images/bathroom.jpg">Bathroom
        </label>
        <label>
          <input type="checkbox" formControlName="amenity3"> <img src="images/parked-car.jpg">Parking
        </label>
      </div>
    </div>



    <div>
      <h2>Address</h2>
      <input name="address" formControlName="address" cols="30" rows="5" placeholder="Enter Your Address" [ngClass]="createRoomForm.controls['address'].errors &&
       createRoomForm.controls['address'].touched? 'is-invalid' : ''   " />

      @if(
      createRoomForm.controls['address'].errors &&
      createRoomForm.controls['address'].touched ){


      @if(createRoomForm.controls['address'].errors["required"]){
      <div class="invalid-feedback">Address must be required</div>
      }

      }
    </div>


    <div>
      <h2>Location</h2>
      <input id="location" formControlName="location" [ngClass]="createRoomForm.controls['address'].errors &&
      createRoomForm.controls['address'].touched? 'is-invalid' : ''   " />


      @if(
      createRoomForm.controls['address'].errors &&
      createRoomForm.controls['address'].touched ){


      @if(createRoomForm.controls['address'].errors["required"]){
      <div class="invalid-feedback">Location is required</div>
      }

      }
    </div>

    <div>
      <h2>Room Images</h2>
      <input id="roomImages" type="file" multiple>
      <div formArrayName="roomImages">
      </div>
    </div>

    <div>
      <h2>Rent</h2>
      <input id="rent" type="number" formControlName="rent" [ngClass]="createRoomForm.controls['rent'].errors &&
      createRoomForm.controls['address'].touched? 'is-invalid' : ''   " />

      @if(
      createRoomForm.controls['rent'].errors &&
      createRoomForm.controls['rent'].touched ){


      @if(createRoomForm.controls['rent'].errors["required"]){
      <div class="invalid-feedback">rent must be required</div>
      }

      }
    </div>



    <div>
      <h2>Preferences</h2>
      <div class="checkbox">
        <label>
          <input type="checkbox" formControlName="preference1" class="veg">Veg
        </label>
        <label>
          <input type="checkbox" formControlName="preference2">Nonveg
        </label>
        <label>
          <input type="checkbox" formControlName="preference3">Smoking
        </label>
        <label>
          <input type="checkbox" formControlName="preference4">Drinking
        </label>
      </div>
    </div>

    <button [disabled]="!createRoomForm.valid" type="submit">Create Room</button>
  </div>

