.card {
  background-color: white;
  border-radius: 8px;
  padding: 60px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.854);
  max-width: 40%;
  margin: auto;
  font-size: 25px;

}

.logo {
  width: 60%;
  height: 19vh;
  margin-top: -10%;
  margin-left: 15%;

}

.is-invalid {
  border: 1px solid red;
}

  h2 {
    color: #6b23d4;
    font-size: 23px;
    text-align: left;
    margin: 10px 0;
  }
 
  input, textarea, button {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 17px;
  }

  .checkbox [type="checkbox"] {
    margin: 10% 10px 11% 0;
    transform: scale(1.5);

}


   .checkbox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    

   }

  .checkbox img {
    margin-right: 10px; 
    margin-top: -10px;
    height: 4vh;
    width: 2.5vw;
}
  .checkbox label {
    display: flex;
    align-items: center;
    padding-top: 10px;

}

::placeholder{
  font-size: 20px;
}
  button {
    background-color: #6b23d4;
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10%;
  }
  button:hover {
    background-color: #5808d0;
    color: #ffffff;
  }
  .slider{
    width: 100%;
    height: 1vh;
  }
  
#roomType{
    margin-top: 1%;
    margin-bottom: 10%;
    font-size: 20px;
    width: 100%;
    height: 8vh;
    color: #4f4d4d;
    border: 1px solid #222;
    border-radius: 5px;
  }
  .gender{
    
    
  }

  @media (max-width:1200px){
    
    .card{
      padding: 30px;
      margin:  0% 25%;
      max-width: 100%;
    }
      .logo{
        height: 17vh;
        margin-top: -5%;
        
      }
      .checkbox label{
        font-size: 19px;
      }
    }
    
  

@media (max-width:768px){
  .card{
    padding: 50px;
    margin: 5% 15%;
    max-width: 50%;
  }
  .logo{
    height: 17vh;
    margin-top: -10%;
  }
  input, textarea, button{
    padding: 10px;
  }
  h2{
    font-size: 20px;
    margin: 10px 0;
  }
  .checkbox label{
    font-size: 17px;
  }
  .checkbox img{
    
    height: 4vh;
    width: 5vw;
  }
}
@media (max-width: 480px){
  .card{
    padding: 40px;
    margin: 10%;
    max-width: 100%;
  }
  .logo{
    height: 15vh;
  
    margin-top: -12%;
  }
  input, textarea, button{
    padding: 8px;
  }
  h2{
    font-size: 17px;
    margin: 10px 0;
  }
  ::placeholder{
    font-size: 13px;
  }
  .checkbox img{
    
    height: 4vh;
    width: 5vw;
  }
  
}


