<div class="container">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
<div class="reset-password-container">
    <img src="images/logo.jpg" alt="Logo" class="logo" />
      <div class="form-group">
        <h2>Mobile Number</h2>
      <input type="number"
        formControlName="mobileNumber"
        class="input-field number-input"
        placeholder="Enter your mobile number"
        [ngClass]="resetPasswordForm.controls['mobileNumber'].errors && 
        resetPasswordForm.controls['mobileNumber'].touched? 'is-invalid' : ''" required/>
        
                  @if (
                    resetPasswordForm.controls["mobileNumber"].errors &&
                    resetPasswordForm.controls["mobileNumber"].touched
                  ) {
                    @if (resetPasswordForm.controls["mobileNumber"].errors["required"]) {
                      <div class="invalid-feedback">Mobile Number is required</div>
                     } 
                     @if (resetPasswordForm.controls["mobileNumber"].errors["minlength"]) {
                      <div class="invalid-feedback">Minimum 10 digits required</div>
                     }
                     @if (resetPasswordForm.controls["mobileNumber"].errors["maxlength"]) {
                      <div class="invalid-feedback">Maximum 10 digits required</div>
                     }

                    }
      </div>
      <button type="submit"
       [disabled]="resetPasswordForm.invalid"
       >
        Reset Password <i class="fa fa-lock" style="font-size:24px"></i>
      </button>

    <p class="login-link">
      Remember your password? <a href="http://localhost:4200/account/login">Login here</a>
    </p>

  </div>
</form>
</div>