
<div class="reset-password-container">
    <img src="/images/logo.jpg" alt="Logo" class="logo"/>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <h2>Email</h2>
        <input id="email" type="email" formControlName="email" placeholder="Enter your email address" class="input-field"/>
        <div *ngIf="resetPasswordForm.controls['email'].invalid && (resetPasswordForm.controls['email'].dirty || resetPasswordForm.controls['email'].touched)">
          <small *ngIf="resetPasswordForm.controls['email'].errors?.['required']" style="color: red;">Email is required.</small>
          <small *ngIf="resetPasswordForm.controls['email'].errors?.['email']" style="color: red;">Please enter a valid email address.</small>
        </div>
      </div>
      <button type="submit" [disabled]="resetPasswordForm.invalid">Reset Password <i class="fa fa-lock" style="font-size:24px"></i></button>
    </form>
    <p class="login-link">Remember your password? <a href="#">Login here</a></p>
  </div>
  
