
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  max-width: 100%;
  background-color: #f3ebff;
}

.reset-password-container {
    margin: 8% auto;
    border: 1px solid #c3c0c0;
    border-radius: 5px;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    font-size: 29px;
  }
  
  .logo {
    width: 65%;
    height: 18vh;
    margin-top: -10%;
  }
  
  h2 {
    color: #6b23d4;
    font-size: 28px;
    text-align: left;
  }
  
  .input-field {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
  }
  
  .input-field.is-invalid {
    border-color: red;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    text-align: left;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #6a1b9a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
  }
  button:hover{
    background-color: #6a23d4;
  }
  button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  .login-link {
    margin-top: 10px;
    font-size: 20px;
    padding: 30px;
  }
  
  .login-link a {
    color: #1b439a;
    text-decoration: none;
  }
  
  .login-link a:hover {
    color: #1b439a;
    text-decoration: underline;
  }






/*media queries for forget-password component*/



  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .reset-password-container {
    width: 400px;
    padding: 60px 20px;

    }

    h2 {
    font-size: 24px;
    margin-left: 35px;
    }
    .input-field {
      font-size: 16px;
      width: 80%;
      
      }
    .login-link {
    font-size: 15px;
    }
    button {
      font-size: 16px;
      width: 80%;
  
      }
    }
    
    @media screen and (min-width: 768px) and (max-width: 992px) {
    .reset-password-container {
    width: 400px;
    padding: 75px 20px;
    }

    h2 {
    font-size: 24px;
    margin-left: 40px;
    }
    .input-field {
    font-size: 16px;
    width: 80%;
    
    }
    button {
    font-size: 16px;
    width: 80%;

    }
    .login-link {
    font-size: 16px;
    }
    }
    
    @media screen and (min-width: 569px) and (max-width: 768px) {
    .reset-password-container {
    width: 350px;

padding: auto;
    }

    h2 {
    font-size: 20px;
    }
    .input-field {
    font-size: 14px;
    }

    .login-link {
    font-size: 17px;
    }
    }
    
    @media screen and (min-width: 385px) and (max-width: 569px) {
    .reset-password-container {
    width: 350px;
    padding: 70px 25px;


    }
    h2 {
      font-size: 20px;
      }
      .input-field {
      font-size: 14px;
      }
  
      .login-link {
      font-size: 17px;
      }
      }

    
    
    @media screen and (min-width: 99px) and (max-width: 385px) {
    .reset-password-container {
    width: 300px;
      padding: 65px 20px;

    }
    h2 {
    font-size: 23px;
    margin-left: 30px;
    }
    .input-field {
    font-size: 12px;
    width: 80%;
    }
    button{
      font-size: 14px;
      width: 60%;
  
    }
    .login-link {
      font-size: 19px;
      }
}




