.reset-password-container {
  max-width: 500px;
  margin: 8% auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 75vh;
  background-color: rgb(255, 255, 255);
  padding: 50px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
  font-size: 29px;
}

.logo {
  width: 80%;
  height: 18vh;
  margin-top: -10%;
}

h2 {
  color: #6b23d4;
  font-size: 28px;
  text-align: left;
}

.input-field {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #6a1b9a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.login-link {
  margin-top: 10px;
  font-size: 20px;
  padding: 30px;
}

.login-link a {
  color: #1b439a;
  text-decoration: none;
}

.login-link a:hover {
  color: #1b439a;
  text-decoration: underline;
}

 @media (max-width: 2543px) {
  .reset-password-container{
    width: 85%;
   
    height: 20%;
    margin-top: 10%;
  }
  .logo{
      width: 110%;
  }
 
 }
@media (max-width: 767px) {
  .reset-password-container {
    width: 90%;
    height: 65vh;
    margin-top: 30%;
   
  }
  .logo{
    width: 100%;
    height: 30%;
    margin-top: -10%;
  }
  .input-field{
    width: 100%;
    font-size: 20px;
  }
}


@media (max-width: 480px) {
  .reset-password-container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 10%;
    margin-top: 19%;
  }

  .logo {
    width: 100%;
    height: 10%;
   
  }
  .input-field{
    width: 100%;
    font-size: 20px;
  }
  ::placeholder{
    font-size: 15px;
  }
  .button{
    width: 90%;
    font-size: 10px;
  }
 
  .login-link {
    margin-top: 10px;
    font-size: 18px;
    padding: 30px;
  }
  


}

@media (max-width:380px) {
  .reset-password-container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 10%;
    margin-top: 19%;
  }
  button{
    width: 100%;
    font-size: 15px;
  }
  .login-link {
    margin-top: 10px;
    font-size: 14px;
    padding: 20px;
  }
  .login-link a {
    font-size: 16px;
  }
  h2 {
    font-size: 28px;
  }
  .input-field{
    width: 100%;
    // font-size: 20px;
    padding: 10px;;
  }
  ::placeholder{
    font-size: 13px;
  }
  
}
// @media (max-width:344px) {
//   .reset-password-container {
//     width: 80%;
//     margin-left: 10%;
//     margin-right: 10%;
//     height: 10%;
//     margin-top: 19%;
//   }
//   .button{
//     width: 60%;
//     font-size: 15px;
//   }
//   .login-link {
//     font-size: 10px;
//     padding: 20px;
//   }
//   .login-link a {
//     font-size: 16px;
//   }
//   h2 {
  
//     font-size: 28px;
//   }
//   .input-field{
//     width: 90%;
//     // font-size: 20px;
//     padding: 10px;;
//   }
//   ::placeholder{
//     font-size: 10px;
//   }
//   button{
//     width: 60%;
//     font-size: 10px;
//   }
// }





