/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

  
  .invalid-feedback {
    font-size: 14px;
    text-align: left;
    margin-top: -6px;
    color: red;
  }
  input[type="checkbox"]:checked {
    accent-color: #6a23d4bf;
  }
  input[type="radio"]:checked {
    accent-color: #6a23d4bf;
  }

.number-input::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

