/* You can add global styles to this file, and also import other style files */

@import 'bootstrap/scss/bootstrap';
.number-input::-webkit-inner-spin-button{
    -webkit-appearance: none;

}
.invalid-feedback{
    text-align: left;
    margin-top:-10px;
    margin-bottom: 5px;
    font-size: 15px;
    color: #ec1026;
}
.input-field.is-invalid{
    border: 1px solid red;
}

