<div class="container">
<form  [formGroup]="otpForm" (ngSubmit)="onSubmit()">
<div class="otp-container">
  <img src="images/logo.jpg" alt="Logo" class="logo"/>
  <p>Please enter the OTP sent to your registered email address.</p>
    <div>
      <h2>Mobile Number</h2>
        <input type="number" 
          formControlName="mobileNumber"
          class="input-field number-input "
          placeholder="Enter your mobile number"
          [ngClass]="otpForm.controls['mobileNumber'].errors &&
          otpForm.controls['mobileNumber'].touched? 'is-invalid' : ''   "/>
  
  @if (
    otpForm.controls["mobileNumber"].errors &&
    otpForm.controls["mobileNumber"].touched
    ){
  
      @if (otpForm.controls["mobileNumber"].errors["required"]) {
        <div class="invalid-feedback">Mobile Number is required</div>
      }
  
      @if (otpForm.controls["mobileNumber"].errors["minlength"]) {
        <div class="invalid-feedback">Minimum 10 digits required</div>
      }
      @if (otpForm.controls["mobileNumber"].errors["maxlength"]) {
        <div class="invalid-feedback">Maximum 10 digits allowed</div>
      }
  
  }
    </div>
    <div class="form-group">
      <h2>OTP</h2>
      <input  formControlName="otp" placeholder="Enter OTP" class="input-field"
      [ngClass]="otpForm.controls['otp'].errors &&
      otpForm.controls['otp'].touched   ? 'is-invalid':'' "/>
                  @if (
                    otpForm.controls["otp"].errors &&
                    otpForm.controls["otp"].touched
                  ) {
                    @if (otpForm.controls["otp"].errors["required"]) {
                      <div class="invalid-feedback">OTP is required</div>
                     } 
                     @if (otpForm.controls["otp"].errors["minlength"]) {
                      <div class="invalid-feedback">Minimum 6 Digits required</div>
                     }
                     @if (otpForm.controls["otp"].errors["maxlength"]) {
                      <div class="invalid-feedback">OTP must be exactly 6 characters long</div>
                     }
                     @if (otpForm.controls["otp"].errors["pattern"]) {
                      <div class="invalid-feedback">Invalid OTP</div>
                     }

                    }       

    </div>
    <button type="submit" >Verify OTP &#10004;</button>
 
  <p>
    Didn't receive OTP? 
    <a href="#">Resend OTP</a>
  </p>
</div>
</form>
</div>
