.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  max-width: 100%;
  background-color: #f3ebff;
}

.otp-container {
    margin: 8% auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 70vh;
    background-color: white;
    padding: 40px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    font-size: 23px;

  }
  .logo {
    width: 60%;
    height: 14vh;
    margin-top: -10%;
  }
  h2{
    color: #6b23d4;
    font-size: 28px;
    text-align: left;
  }
 
  .otp-container p {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #8a8a8a;
    border-radius: 5px;
    font-size: 18px;
  }

  button {
    width: 106%;
    padding: 10px;
    background-color: #6b23d4;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ddd;
    cursor:not-allowed;
  }
  
  a{
    color: #1008ff;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
  }
  
  a:hover {
    text-decoration: underline;
  }




  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .otp-container {
    width: 400px;
    padding: 60px 20px;

    }
    .logo {
    height: 16vh;
    }
    h2 {
    font-size: 25px;
    margin-left: 30px;
    }
 input {
    padding: 12px;
    width: 80%;
    }
    button {
    font-size: 16px;
    width: 80%;
  }
    a {
    font-size: 18px;
    }

    }
    
    @media screen and (min-width: 768px) and (max-width: 992px) {
    .otp-container {

    width: 400px;
    padding: 60px 20px;

    }
    .logo {
    height: 16vh;
    }
    h2 {
    font-size: 25px;
    margin-left: 30px;
    }
 input {
    padding: 12px;
    width: 80%;
    }
    button {
    font-size: 16px;
    width: 80%;
  }
    a {
    font-size: 18px;
    }
    
    }
    
    @media screen and (min-width: 569px) and (max-width: 768px) {
      .otp-container {
      width: 400px;

      padding: 60px 20px;
  
      }
      .logo {
      height: 16vh;
      }
      h2 {
      font-size: 25px;
      margin-left: 30px;
      }
   input {
      padding: 12px;
      width: 80%;
      }
      button {
      font-size: 16px;
      width: 80%;
    }
      a {
      font-size: 18px;
      }
      
      }
    
    @media screen and (min-width: 385px) and (max-width: 569px) {
      .otp-container {
        width: 400px;

        padding: 60px 20px;
    
        }
        .logo {
        height: 16vh;
        }
        h2 {
        font-size: 25px;
        margin-left: 30px;
        }
     input {
        padding: 12px;
        width: 80%;
        }
        button {
        font-size: 16px;
        width: 80%;
      }
        a {
        font-size: 18px;
        }
        
        }
    
    @media screen and (min-width: 99px) and (max-width: 385px) {
      .otp-container {
        width: 300px;
        padding: 60px 20px;

    
        }
        .logo {
        height: 16vh;
        }
        h2 {
        font-size: 25px;
        margin-left: 30px;
        }
     input {
        padding: 12px;
        width: 80%;
        }
        button {
        font-size: 16px;
        width: 80%;
      }
        a {
        font-size: 18px;
        }
        
        }