.failure-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3ebff;
}
.card {
    background-color: white;
    border-radius: 8px;
    padding: 50px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 40%;
}
.icon img {
width: 50px;
height: 50px;
margin-top: 1px;
}

h3,h2 {
color: #555;
margin-bottom: 40px;
}
.button {
background-color: #6b23d4;
color: white;
padding: 10px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 16px;
width: 50%;
margin-left: 24%;
}

.button:hover {
background-color: #5821b7;
}


/*media queries for set-password-failure component*/


 @media screen and (min-width: 992px) and (max-width: 1199px) {
    .card{
          width: 40%;
          padding: 30px;
     }
     h3,h2{
         font-size: larger;

     }

}    
@media screen and (min-width: 768px) and (max-width: 992px) {
    .card{
          width: 50%;
          padding: 30px;
     }
     h3,h2{
         font-size: larger;
}
}

@media screen and (min-width: 569px) and (max-width: 768px) {
    .card{
          width: 60%;
          padding: 30px;
     }
     h3,h2{
         font-size: larger;
}
}

@media screen and (min-width: 385px) and (max-width: 569px) {
    .card{
          width: 90%;
          padding: 30px;
     }
     h3,h2{
         font-size: larger;
}
}
@media screen and (min-width:99px) and (max-width: 385px){
    .card{
          width: 100%;
          padding: 10px;
     }
     h3,h2{
         font-size: larger;
}
.button{
    width: 100%;
    margin-left: auto;
    padding: 10px;
}
}
