<div class="container">
  <form [formGroup]="setPassword" (ngSubmit)="onLoginClick()">
  <div class="set-password-container">
      <img src="images/logo.jpg" alt="Logo" class="logo" />
          <div class="form-group">
            <div>
              <h3>Mobile Number</h3>
        <input type="number" 
          formControlName="mobileNumber"
          class="input-field number-input "
          placeholder="Enter your mobile number"
          [ngClass]="setPassword.controls['mobileNumber'].errors &&
          setPassword.controls['mobileNumber'].touched? 'is-invalid' : ''   "/>
  
  @if (
    setPassword.controls["mobileNumber"].errors &&
    setPassword.controls["mobileNumber"].touched
    ){
  
      @if (setPassword.controls["mobileNumber"].errors["required"]) {
        <div class="invalid-feedback">Mobile Number is required</div>
      }
  
      @if (setPassword.controls["mobileNumber"].errors["minlength"]) {
        <div class="invalid-feedback">Minimum 10 digits required</div>
      }
      @if (setPassword.controls["mobileNumber"].errors["maxlength"]) {
        <div class="invalid-feedback">Maximum 10 digits allowed</div>
      }
  
  }
            </div>
            <div>
              <h3>NewPassword</h3>
              <input type="password"
                class="input-field"
                formControlName="newPassword"
                placeholder="Enter your password"
                [ngClass]="
                setPassword.controls['newPassword'].errors &&
                setPassword.controls['newPassword'].touched
                  ? 'is-invalid'
                  : ''   "/>
          
                  @if (
                    setPassword.controls["newPassword"].errors &&
                    setPassword.controls["newPassword"].touched
                      ){
        
                    @if (setPassword.controls["newPassword"].errors["required"]) {
                      <div class="invalid-feedback">newPassword is required</div>
                     }
        
                    @if (setPassword.controls["newPassword"].errors["minlength"]) {
                      <div class="invalid-feedback">Minimum 6 characters required</div>
                    }
                    @if (setPassword.controls["newPassword"].errors["maxlength"]) {
                      <div class="invalid-feedback">Maximum 16 characters allowed..</div>
                    }
                    }
            </div>
        
            <div>
              <h3>Confirm Password</h3>
              <input type="password"
                class="input-field"
                formControlName="confirmPassword"
                placeholder="Confirm your password"
                [ngClass]="
                setPassword.controls['confirmPassword'].errors &&
                setPassword.controls['confirmPassword'].touched
                  ? 'is-invalid'
                  : ''   "/>
          
               
                  @if (
                    setPassword.controls["confirmPassword"].errors &&
                    setPassword.controls["confirmPassword"].touched
                      ){
        
                    @if (setPassword.controls["confirmPassword"].errors["required"]) {
                      <div class="invalid-feedback">ConfirmPassword is required</div>
                     }
        
                    @if (setPassword.controls["confirmPassword"].errors["minlength"]) {
                      <div class="invalid-feedback">Minimum 6 characters required</div>
                    }
                    @if (setPassword.controls["confirmPassword"].errors["maxlength"]) {
                      <div class="invalid-feedback">Maximum 16 characters allowed..</div>
                    }
                    }
            </div>
        
          <button type="submit">Set Password <i class="fa fa-check-circle"></i></button>
          </div>
        </div>
      </form>
  </div>