.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  max-width: 100%;
  background-color: #f3ebff;
}

.set-password-container {
  background-color: white;
  border-radius: 8px;
  padding: 60px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.logo {
  width: 80%;
  height: 15vh;
  margin-top: -10%;
}

h3 {
  color: #6b23d4;
  font-size: 21px;
  text-align: left;
  margin: 20px 0;
}

.input-field {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-field.is-invalid {
  border-color: red;
}
button {
  background-color: #6b23d4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
}

button:hover {
  background-color: #6a23d4d6;
}


/*media queries for set-password component*/


@media screen and (min-width: 992px) and (max-width: 1199px)
 {
  .set-password-container {

  width: 100%;
  }
  .logo {
  height: 20vh;
  }
  h3 {
  font-size: 19px;
  
  }
  .input-field {
  padding: 12px;
  }
  button {
  padding: 12px 25px;
  font-size: 15px;
  }
  }
  
  @media screen and (min-width: 768px) and (max-width: 992px) {

  .set-password-container {
  width: 100%;


  }
  .logo {
  height: 18vh;
  }
  h3 {
  font-size: 17px;
  }

  .input-field {
  padding: 10px;
  }
  button {
  padding: 10px 20px;

  font-size: 14px;
  }
  }
  
  @media screen and (min-width: 569px) and (max-width: 768px) {

  .set-password-container {
    
    width: 100%;
  }
  .logo {
  height: 15vh;
  }
  h3 {
  font-size: 15px;
  }
  .input-field {
  padding: 8px;
  }

  button {

  padding: 8px 15px;
  font-size: 13px;
  }
  
}
  

  @media screen and (min-width: 385px) and (max-width: 569px) {

  .set-password-container {
    width: 100%;
  }
  .logo {
  height: 12vh;

  }
  h3 {

  font-size: 19px;
  }
  .input-field {

  padding: 5px;
  }
  button {
  padding: 6px 12px;
  font-size: 18px;
  }
  
}
 
  
  @media screen and (min-width: 99px) and (max-width: 385px)
   {
  .set-password-container {
    width: 100%;
    padding: 50px 20px;
  }
  .logo {
  height: 10vh;
  }
  h3 {
  font-size: 19px;
  }

  .input-field {
    width: 100%;
  padding: 4px;
  font-size: 18px;
  }
  button {
  padding: 4px 10px;
  font-size: 17px;
  }
 
}
  